.profile__edit-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M10 1.328L2.604 8.767 1.283 7.419 8.66 0 10 1.328zM0 10l1.962-.588L.585 8.083 0 10z'/%3E%3C/svg%3E");
  padding: 0;
  background-color: #000000;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  grid-area: edbut;
  align-self: center;
  outline: 0;
  cursor: pointer;
  transition: opacity .4s linear;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 880px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-right: 19px;
  }
}
