.popup__close-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
  transition: opacity .4s linear;
}

.popup__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 380px) {
  .popup__close-icon {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 5px;
  }
}
