.profile__info {
  color: #ffffff;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 16px 18px;
  grid-template-areas:
  "name edbut"
  "job job"
}
