.elements__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

@media screen and (min-width: 581px) and (max-width: 880px) {
  .elements__container {
    max-width: 581px;
  }
}

@media screen and (min-width: 282px) and (max-width: 580px) {
  .elements__container {
    max-width: 282px;
  }
}

@media screen and (max-width: 281px) {
  .elements__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
